.animal-show {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  display: grid;
  place-items: center;
  position: relative;
}

.animal {
  height: 200px;
}

.heart {
  position: absolute;
  bottom: 0;
  right: 0;
}
